.contain{

    border: 3px solid;
    width: 55% ; 
     margin: 15px auto;
}
hr{
    height: 3px;
    background-color: black;
}




#heading{
    height: 1px;
    line-height: 0.3em;
    padding-left: 10px;
}

.green{
    border: 2px solid;
    width: 700px;
    height: 95px;
    background-color: rgb(61, 165, 35);
    margin:0 auto;
    margin-bottom: 5px;
    margin-left: 20px;
}
.image{
    height: 100px;
    display:inline-block;
    margin-left: 20px;
    margin-right: 37px;
    box-sizing: border-box;
    
    
}
img{
    width: 115%;
    height: 150px;
}
.second-img {

    border: 2px solid;
    width: 28.5%;
    height: 150px;
    background-color: purple;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 10px;
    box-sizing: border-box;
}
#orange{
    background-color: orange;
}
#red{
    background-color: red;

}
#blue{
    background-color: rgb(0, 140, 255);
}

